body {
  background-color: #000;
}

.control {
  background-color: #1f2428;
  height: 3rem;
  border: 1px solid #000;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #909090;
  text-align: center;
}

button.control {
  padding-left: 1rem;
  padding-right: 1rem;
}

.control.control--selected {
  background-color: #e2c000;
}

.bpm-input {
  width: 5rem;
}

.sequence-button {
  background-color: #1f2428;
  border: 1px solid #000;
  height: 4rem;
  width: 4rem;
}

.sequence-button.sequence-button--seq {
  background-color: #3a434b;
}

.sequence-button.sequence-button--selected {
  background-color: #e2c000;
}

.sequence-button.sequence-button--seq.sequence-button--selected {
  background-color: #00E34F;
}

.instrument {
  display: flex;
}

.instrument--name {
  display: flex;
  border: 1px solid #000;
  justify-content: flex-end;
  background-color: #3a434b;
  min-width: 10rem;
}

.instrument--name-text {
  margin-right: 1rem;
  font-family: monospace;
  font-size: 1.5em;
  color: #909090;
}

